name: Build and Release
on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: write
  attestations: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: rustup update
      - run: rustup target add wasm32v1-none
      - uses: stellar/stellar-cli@v25.1.0
        with:
          version: 25.1.0
      - name: Build contract
        run: |
          stellar contract build --manifest-path contracts/cubeathon/Cargo.toml --meta source_repo=github:${{ github.repository }}
          # Path matches the stellar-cli build output structure
          cp target/wasm32v1-none/release/cubeathon.wasm .
      - name: Build Attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-name: cubeathon.wasm
          subject-path: cubeathon.wasm
